<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='view_recipe.css') }}" rel='stylesheet'>
    <title>Show Recipe</title>
</head>
<body>
    <div class="navbar">
        <h1>Recipe:{{recipe.name}}</h1>
        <div class="adjust">
            <a href="/recipes">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="container">
        <div class="d-flex">
            <label for="description">Description:</label>
            <p>{{recipe.description}}</p>
        </div>
        <div class="d-flex">
            <label for="under_thirty">Under 30 minutes:</label>
            {% if recipe.under_thirty%}
                            <p>Yes</p>
                        {% else %}
                            <p >No</p>
                        {% endif %}
        </div>
        <div class="d-flex">
            <label for="instructions">Instructions:</label>
            <p>{{recipe.instructions}}</p>
        </div>       
        <a class="btn btn-primary" href="/recipes/{{recipe.id}}/{{recipe.user_id}}/edit">Edit</a>
    </div>
</body>
</html>